In [72]:
import pandas as pd

In [73]:
csv_name = "tmp5c00jrqx.csv"
df = pd.read_csv(csv_name)

In [74]:
df.OFFENSE_CODE.unique()

array([ 423, 3005, 1402,  724,  727, 3114, 3115, 3301, 3820,  521, 3831,
       3802,  619, 1501, 3006, 3803,  802, 3501,  301,  801, 3201, 2906,
       2907, 3119, 3125, 1504,  413, 2662, 3410,  613,  522, 3805, 1849,
       1843, 3801, 3108, 3810, 3001, 2511, 1107, 3170, 2405,  614, 3109,
       2647,  617, 2905,  615, 2610, 3503, 1874,  616, 3502, 1848, 2900,
       2629, 3207, 2646, 2407, 3807, 3106, 1102, 1106,  311, 1830,  542,
       1304,  361,  560, 3304, 3018, 3007, 2403, 1842, 3811, 1841, 1810,
       3004, 1300, 1001,  520, 3821, 2619, 1503, 3205, 2657, 1847, 2007,
        540, 3130, 3111, 3112, 2623, 3830,  706, 1415, 1109, 2006, 3208,
        735, 3102, 2101, 1108, 2632, 1806, 2660, 2914, 1831, 1845, 3002,
       1510, 2604, 3620, 3160, 2616,  562,  561, 1201, 2670, 1805, 3116,
       3402, 3202, 3305, 1807,  541, 2005,  371, 3008, 2401, 1844, 1846,
       2641, 1832, 1602, 2631,  611,  111, 2642, 2672,  612, 1850, 1870,
       2003, 1825, 2618, 2102,  900,  670, 2622, 3122,  804, 3110, 1620,
       2605, 3203, 2010,  381, 2606, 2613, 2612, 2628, 1815, 2608, 2617,
       2204, 3625, 3016,  351, 2004, 3123, 3403, 2648, 3303, 1502, 3029,
       2663, 1605,  121, 1601, 2611,  618, 1603, 2636, 1610, 3302, 1901,
       2664,  123, 2609,  112,  624,  633,  403,  404, 1863,  803,  770,
        349,  432,  339, 1002,  335,  627,  629, 1302,  315,  634, 1866,
        402, 2910,  637,  639,  511,  714, 1105,  527,  623,  338,  547,
        334,  530, 1864, 3126,  641,  241,  244, 1722,  531,  243,  261,
       2671,  736])

In [75]:
years = [2015, 2016, 2017, 2018, 2019]
offense_codes = ["413", "3301", "802", "311"]

# to filter by districts, add a predicate like `& df["DISTRICT"].isin(districts)`
df = df[df["YEAR"].isin(years) & df["OFFENSE_CODE"].isin(offense_codes)]
df

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
11,I192078645,3301,Verbal Disputes,VERBAL DISPUTE,B3,450,NaN,2019-09-29 06:00:00,2019,9,Sunday,6,Part Three,ASPINWALL RD,42.291816,-71.072441,"(42.29181580, -71.07244098)"
18,I192078635,3301,Verbal Disputes,VERBAL DISPUTE,B3,466,NaN,2019-09-28 23:55:00,2019,9,Saturday,23,Part Three,GOODALE RD,42.283628,-71.093496,"(42.28362830, -71.09349553)"
20,I192078632,3301,Verbal Disputes,VERBAL DISPUTE,B3,429,NaN,2019-09-29 00:33:00,2019,9,Sunday,0,Part Three,HARWOOD ST,42.285765,-71.087632,"(42.28576510, -71.08763245)"
22,I192078624,3301,Verbal Disputes,VERBAL DISPUTE,B2,311,NaN,2019-09-29 00:19:00,2019,9,Sunday,0,Part Three,MAYWOOD ST,42.317859,-71.081036,"(42.31785924, -71.08103560)"
28,I192078613,802,Simple Assault,ASSAULT SIMPLE - BATTERY,A7,17,NaN,2019-09-29 02:30:00,2019,9,Sunday,2,Part Two,CHELSEA ST,42.379124,-71.028082,"(42.37912370, -71.02808210)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437287,192078723,3301,NaN,VERBAL DISPUTE,B2,261,0,2019-09-29 12:35:00,2019,9,Sunday,12,NaN,W COTTAGE ST,NaN,NaN,"(0.00000000, 0.00000000)"
437293,192078712,3301,NaN,VERBAL DISPUTE,C11,364,0,2019-09-29 12:35:00,2019,9,Sunday,12,NaN,LESLIE ST,NaN,NaN,"(0.00000000, 0.00000000)"
437294,192078711,3301,NaN,VERBAL DISPUTE,B2,911,0,2019-09-29 12:42:00,2019,9,Sunday,12,NaN,RUGGLES ST,NaN,NaN,"(0.00000000, 0.00000000)"
437306,192078690,3301,NaN,VERBAL DISPUTE,C11,69,0,2019-09-29 10:38:00,2019,9,Sunday,10,NaN,CHARLES ST,NaN,NaN,"(0.00000000, 0.00000000)"
437310,192078682,3301,NaN,VERBAL DISPUTE,C11,387,0,2019-09-29 10:21:00,2019,9,Sunday,10,NaN,MEDWAY ST,NaN,NaN,"(0.00000000, 0.00000000)"

In [78]:
groups = df.groupby(["YEAR", "DISTRICT", "OFFENSE_CODE"]).groups

In [79]:
counts = {}
for name, group in groups.items():
    counts[name] = len(group)

counts

{(2019, 'B3', 3301): 858,
 (2019, 'B2', 3301): 930,
 (2019, 'A7', 802): 134,
 (2019, 'C11', 413): 145,
 (2019, 'C11', 3301): 768,
 (2019, 'B2', 802): 521,
 (2019, 'E5', 3301): 217,
 (2019, 'B3', 413): 151,
 (2019, 'B3', 802): 397,
 (2019, 'C6', 802): 282,
 (2019, 'C11', 802): 442,
 (2019, 'C6', 413): 101,
 (2019, 'E5', 413): 26,
 (2019, 'A1', 802): 589,
 (2019, 'D4', 802): 503,
 (2019, 'D4', 311): 15,
 (2019, 'E13', 802): 147,
 (2019, 'A7', 413): 44,
 (2019, 'A1', 3301): 61,
 (2019, 'D4', 413): 113,
 (2019, 'A1', 413): 165,
 (2019, 'E13', 413): 68,
 (2019, 'D14', 3301): 152,
 (2019, 'A7', 3301): 133,
 (2019, 'E18', 3301): 350,
 (2019, 'E5', 802): 135,
 (2019, 'D14', 413): 39,
 (2019, 'A15', 802): 60,
 (2019, 'E13', 3301): 204,
 (2019, 'B2', 413): 276,
 (2019, 'D14', 802): 186,
 (2019, 'E18', 802): 137,
 (2019, 'A15', 3301): 53,
 (2019, 'A1', 311): 4,
 (2019, 'D4', 3301): 235,
 (2019, 'E18', 413): 54,
 (2019, nan, 802): 8,
 (2019, nan, 413): 3,
 (2019, 'A15', 413): 14,
 (2019, 'C6', 3301): 176,
 (2019, 'B3', 311): 13,
 (2016, 'D14', 802): 217,
 (2019, 'B2', 311): 14,
 (2017, 'D4', 802): 606,
 (2019, 'E5', 311): 6,
 (2019, 'C11', 311): 9,
 (2019, 'E18', 311): 9,
 (2019, nan, 3301): 11,
 (2019, 'A7', 311): 4,
 (2019, 'E13', 311): 2,
 (2018, 'B2', 802): 812,
 (2018, 'D4', 802): 640,
 (2018, 'E13', 802): 214,
 (2018, 'E5', 802): 166,
 (2019, 'D14', 311): 2,
 (2018, 'B2', 413): 322,
 (2019, 'C6', 311): 1,
 (2018, 'D14', 802): 253,
 (2018, 'A1', 413): 201,
 (2018, 'E18', 802): 191,
 (2018, 'B3', 802): 552,
 (2018, 'C11', 802): 654,
 (2018, 'A1', 802): 736,
 (2018, 'B3', 3301): 941,
 (2018, 'C11', 413): 195,
 (2018, 'E5', 3301): 191,
 (2018, 'B2', 3301): 970,
 (2018, 'C6', 3301): 216,
 (2018, 'C11', 3301): 850,
 (2018, 'E5', 413): 42,
 (2018, 'B3', 413): 185,
 (2018, 'A7', 802): 173,
 (2018, 'D4', 413): 157,
 (2018, 'A7', 3301): 156,
 (2018, 'E18', 3301): 367,
 (2018, 'D4', 3301): 233,
 (2018, 'E13', 3301): 204,
 (2018, 'C6', 802): 350,
 (2018, 'D14', 3301): 161,
 (2018, 'C11', 311): 63,
 (2018, 'A15', 802): 89,
 (2018, 'C6', 413): 108,
 (2018, 'A15', 3301): 55,
 (2018, 'E18', 413): 61,
 (2018, 'A1', 3301): 74,
 (2018, 'D14', 413): 55,
 (2018, nan, 802): 15,
 (2018, 'A7', 413): 56,
 (2018, 'E13', 413): 72,
 (2018, 'E5', 311): 8,
 (2018, 'B2', 311): 11,
 (2018, 'D14', 311): 10,
 (2018, 'A1', 311): 17,
 (2018, nan, 413): 8,
 (2018, 'E18', 311): 9,
 (2018, 'E13', 311): 7,
 (2018, 'A15', 413): 29,
 (2018, 'D4', 311): 17,
 (2018, 'A15', 311): 10,
 (2018, 'B3', 311): 19,
 (2018, 'A7', 311): 11,
 (2018, 'C6', 311): 5,
 (2018, nan, 3301): 5,
 (2017, 'B3', 413): 233,
 (2017, 'A1', 802): 662,
 (2017, 'C6', 802): 323,
 (2017, nan, 802): 11,
 (2017, 'D4', 413): 175,
 (2017, 'B2', 802): 768,
 (2017, 'A7', 413): 62,
 (2017, 'E18', 802): 209,
 (2017, 'C11', 802): 623,
 (2017, 'E13', 802): 234,
 (2017, 'E13', 413): 69,
 (2017, 'C11', 3301): 894,
 (2017, 'A7', 3301): 179,
 (2017, 'B3', 3301): 1007,
 (2017, 'E18', 3301): 304,
 (2017, 'E18', 413): 65,
 (2017, 'D14', 3301): 143,
 (2017, 'C6', 3301): 158,
 (2017, 'A1', 3301): 92,
 (2017, 'B3', 802): 528,
 (2017, 'C11', 413): 212,
 (2017, 'B2', 413): 317,
 (2017, 'E5', 3301): 177,
 (2017, 'E13', 3301): 181,
 (2017, 'E13', 311): 7,
 (2017, 'D14', 802): 270,
 (2017, 'B2', 3301): 1033,
 (2017, 'C6', 413): 110,
 (2017, 'A7', 311): 7,
 (2017, 'A15', 802): 75,
 (2017, 'A1', 413): 205,
 (2017, 'E5', 413): 41,
 (2017, 'B3', 311): 32,
 (2017, 'D4', 3301): 197,
 (2017, 'E5', 802): 130,
 (2017, 'A7', 802): 200,
 (2017, 'C6', 311): 12,
 (2017, 'C11', 311): 52,
 (2017, 'D4', 311): 18,
 (2017, nan, 3301): 3,
 (2017, 'A15', 311): 4,
 (2017, 'D14', 413): 60,
 (2017, 'A1', 311): 17,
 (2017, 'B2', 311): 25,
 (2017, 'E18', 311): 16,
 (2017, 'A15', 3301): 70,
 (2017, 'E5', 311): 7,
 (2017, 'D14', 311): 5,
 (2017, 'A15', 413): 29,
 (2016, 'B2', 802): 732,
 (2016, 'D4', 802): 602,
 (2016, 'B2', 413): 328,
 (2016, 'B3', 802): 559,
 (2016, 'A1', 802): 609,
 (2016, 'D14', 3301): 160,
 (2016, 'B3', 413): 214,
 (2016, 'C11', 802): 630,
 (2016, 'C6', 802): 287,
 (2016, 'D14', 413): 57,
 (2016, 'E5', 802): 140,
 (2016, 'C11', 3301): 835,
 (2016, 'A7', 3301): 143,
 (2016, 'B3', 3301): 957,
 (2016, 'A1', 413): 197,
 (2016, 'E13', 311): 5,
 (2016, 'E13', 3301): 149,
 (2016, 'E18', 3301): 300,
 (2016, 'E18', 802): 214,
 (2016, 'D4', 413): 165,
 (2016, 'B2', 3301): 934,
 (2016, 'E5', 413): 51,
 (2016, 'A7', 802): 198,
 (2016, 'C11', 311): 30,
 (2016, 'C11', 413): 210,
 (2016, 'D4', 3301): 210,
 (2016, 'A15', 802): 70,
 (2016, 'E5', 3301): 153,
 (2016, 'A15', 3301): 48,
 (2016, 'E13', 802): 204,
 (2016, 'C6', 3301): 150,
 (2016, 'B3', 311): 27,
 (2016, 'C6', 413): 100,
 (2016, 'A7', 413): 51,
 (2016, 'E13', 413): 58,
 (2016, 'A1', 3301): 58,
 (2016, 'E18', 413): 50,
 (2016, 'D4', 311): 12,
 (2016, 'C6', 311): 8,
 (2016, 'B2', 311): 27,
 (2016, nan, 802): 11,
 (2016, 'A15', 413): 15,
 (2016, 'A1', 311): 15,
 (2016, nan, 413): 6,
 (2016, 'D14', 311): 5,
 (2016, 'E18', 311): 11,
 (2016, 'A15', 311): 2,
 (2015, 'B3', 802): 249,
 (2016, nan, 3301): 3,
 (2016, 'E5', 311): 3,
 (2016, 'A7', 311): 7,
 (2015, 'B2', 802): 415,
 (2015, 'A15', 413): 12,
 (2015, 'E13', 413): 39,
 (2015, 'C6', 802): 167,
 (2015, 'E5', 3301): 30,
 (2015, 'A1', 802): 395,
 (2015, 'D4', 413): 91,
 (2015, 'A7', 3301): 81,
 (2015, 'B3', 3301): 327,
 (2015, 'C11', 802): 326,
 (2015, 'E13', 3301): 45,
 (2015, 'A1', 413): 113,
 (2015, 'D4', 802): 339,
 (2015, 'D4', 3301): 101,
 (2015, 'E18', 3301): 79,
 (2015, 'B2', 3301): 379,
 (2015, 'C11', 413): 113,
 (2015, 'A7', 413): 42,
 (2015, 'B3', 413): 125,
 (2015, 'C11', 3301): 320,
 (2015, 'E5', 802): 56,
 (2015, 'C6', 3301): 57,
 (2015, 'D14', 3301): 49,
 (2015, 'E13', 802): 94,
 (2015, 'A7', 802): 104,
 (2015, 'D14', 802): 133,
 (2015, 'B3', 311): 9,
 (2015, 'D14', 311): 6,
 (2015, 'E18', 413): 29,
 (2015, 'C6', 311): 7,
 (2015, 'E5', 311): 5,
 (2015, 'E18', 802): 86,
 (2015, 'B2', 311): 10,
 (2015, 'B2', 413): 227,
 (2015, 'D14', 413): 36,
 (2015, 'A7', 311): 9,
 (2015, 'A1', 3301): 23,
 (2015, 'C11', 311): 17,
 (2015, 'C6', 413): 51,
 (2015, 'A15', 802): 39,
 (2015, 'E5', 413): 24,
 (2015, 'A15', 3301): 17,
 (2015, 'A1', 311): 2,
 (2015, nan, 413): 3,
 (2015, 'E18', 311): 2,
 (2015, 'D4', 311): 9,
 (2015, nan, 3301): 1,
 (2015, 'E13', 311): 1,
 (2015, nan, 802): 4,
 (2015, 'A15', 311): 1,
 (2019, 'External', 3301): 2}